*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:rgb(200, 218, 219);
}

header{
    margin: auto;
    font-size: 40px;
    width: 400px;
    height: 150px;
    padding-right: 50px;
    padding-left: 75px;
    padding-bottom: 10px;
    padding-top: 80px;
}
.head1{
    margin: auto;
    float: left;
    font-weight: bold;
}
.head2{
    margin: auto;
    float: left;
}

#form0{
    background-color: white;
    width: 400px;
    height: auto;
    margin: auto;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: auto;
    border-style: solid;
    border-color: darkgray;
    border-width: 3px;
}

.title{
    text-align: center;
    padding-bottom: 30px;
    color: darkgray;
    font-weight: 300px;
}

.form1{
    /*background-color: darkgreen;*/
    width: 100%;
    height: auto;
    margin: auto;
}

.form11{
    /*background-color: rgb(77, 211, 77);*/
    background-image: url(images/user.png);
    background-repeat: no-repeat;
    background-position: 266px ;
    background-position-y: center;
    background-size: 30px;
    width: 314px;
    height: 40px;
    border-style: solid;
    border-color: rgb(162, 219, 238);
    border-width: 1px;
    border-radius: 9px;
    margin-bottom: 12px;
}

.form12{
    /*background-color: rgb(77, 211, 77);*/
    background-image: url(images/95645.png);
    background-repeat: no-repeat;
    background-position: 266px ;
    background-position-y: center;
    background-size: 30px;
    width: 314px;
    height: 40px;
    border-style: solid;
    border-color: rgb(162, 219, 238);
    border-width: 1px;
    border-radius: 9px;
    margin-bottom: 12px;
}

.form13{
    background-image: url(images/phone-call-icon.png);
    background-repeat: no-repeat;
    background-position: 266px ;
    background-position-y: center;
    background-size: 30px;
    width: 314px;
    height: 40px;
    border-style: solid;
    border-color: rgb(162, 219, 238);
    border-width: 1px;
    border-radius: 9px;
    margin-bottom: 12px;
}

.form111{
    width: 100%;
    height: 100%;
    border-width: 0px;
    border-radius: 8px;
    outline-color: rgb(64, 213, 224);
    padding-right: 80px;
    padding-left: 9px;
    background-color: transparent;
}

.form112{
    width: 83.63%;
    height: 100%;
    border-width: 0px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    outline-color: rgb(64, 213, 224);
    padding-right: 80px;
    padding-left: 9px;
}

.like{
    width: 314px;
    height: 40px;
    border-style: solid;
    border-color: rgb(162, 219, 238);
    border-width: 1px;
    border-radius: 9px;
    margin-bottom: 12px;
}

.but{
    float: right;
    border-top: none;
    border-bottom: none;
    border-right: none;
    height: 38px;
    width: 51px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: white;
    color: rgb(64, 213, 224);
    cursor: pointer;
    border-left-width: 1px;
    border-left-style: dotted;
    border-left-color: rgb(64, 213, 224);
    transition-duration: 0.4s;
}
.but2{
    border: none;
}
.but:hover{
    background-color: rgb(64, 213, 224);
    border-left-color:rgb(64, 213, 224);
    color: white;
}

.foot{
    margin-bottom: 30px;
    width: 100%;
    height: auto;
}

.updater{
    border-radius: 9px;
    width: 100%;
    min-height: 75px;
    padding: 4px;
    border-style: solid;
    border-color: rgb(162, 219, 238);
    margin-bottom: 9px;
}

.flag{
    background-image: url(images/Flag-2-icon.png);
    background-repeat: no-repeat;
    background-position: center ;
    background-position-y: center;
    background-size: 35px;
    background-color: rgb(36, 190, 36);
    border-radius: 9px;
    float: left;
    width: 30%;
    max-width: 30%;
    min-height: 60px;
}

.grid0{
    float: right;
    box-sizing: content-box;
    width: 59%;
    min-width: 69%;
    max-width: 70%;
    height: 150px;
}

#g1{
    float: right;
    box-sizing: content-box;
    width: 100%;
    height: 150px;
}

.tablaA{
    box-sizing: content-box;
    
}

table , td, th {
	border: 1px solid rgb(162, 219, 238);
	border-collapse: collapse;
}
td, th , tr{
	padding: 9px;
	width: 170px;
	height: 25px;
    box-sizing: content-box;
    color: grey;
}
th {
	background: #f5f2ec;
	text-align: center;
}
.even {
	background: #fbf8f0;
}
.odd {
	background: #fefcf9;
}

a{
    color: rgb(70, 139, 167);
}

#sending{
    visibility: hidden;
}
