*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:rgb(170, 197, 199);
}

header{
    text-align: center; 
    padding-top: 100px;
}

#form30{
    background-color: white;
    width: 400px;
    height: 450px;
    margin: auto;
    border: 15px red;
    padding: 30px;
}

