table , td, th {
	border: 1px solid #595959;
	border-collapse: collapse;
}
td, th {
	padding: 3px;
	width: 170px;
	height: 25px;
}
th {
	background: #f5f2ec;
	text-align: center;
}
.even {
	background: #fbf8f0;
}
.odd {
	background: #fefcf9;
}

header{
	text-align: center;
}

ol{
	line-height: 2;
}
ul{
	list-style-type: disc;
}
